@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 214 18% 95%;
		--foreground: 214 5% 7%;
		--card: 214 18% 90%;
		--card-foreground: 214 5% 10%;
		--popover: 214 18% 95%;
		--popover-foreground: 214 95% 7%;
		--primary: 214 100% 31%;
		--primary-foreground: 0 0% 100%;
		--secondary: 214 28% 40%;
		--secondary-hover: 214 28% 10%;
		--secondary-foreground: 0 0% 0%;
		--muted: 176 18% 85%;
		--muted-foreground: 214 5% 35%;
		--accent: 176 18% 80%;
		--accent-foreground: 214 5% 10%;
		--destructive: 0 50% 30%;
		--destructive-foreground: 214 5% 90%;
		--border: 214 20% 50%;
		--input: 214 20% 18%;
		--ring: 214 100% 31%;
		--radius: 0.5rem;
	}
	.dark {
		--background: 214 18% 7%;
		--foreground: 214 5% 90%;
		--card: 214 18% 7%;
		--card-foreground: 214 5% 90%;
		--popover: 214 18% 5%;
		--popover-foreground: 214 5% 90%;
		--primary: 214 100% 31%;
		--primary-foreground: 0 0% 100%;
		--secondary: 214 18% 70%;
		--secondary-hover: 214 18% 60%;
		--secondary-foreground: 0 0% 100%;
		--muted: 176 18% 15%;
		--muted-foreground: 214 5% 60%;
		--accent: 176 18% 15%;
		--accent-foreground: 214 5% 90%;
		--destructive: 0 50% 30%;
		--destructive-foreground: 214 5% 90%;
		--border: 214 20% 18%;
		--input: 214 20% 18%;
		--ring: 214 100% 31%;
		--radius: 0.5rem;
	}
}

@layer base {
	@font-face {
		font-family: 'Fredoka';
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: url(/font/Fredoka-Regular.ttf) format('truetype');
	}
	@font-face {
		font-family: 'Fredoka';
		font-style: normal;
		font-weight: 700;
		font-display: swap;
		src: url(/font/Fredoka-SemiBold.ttf) format('truetype');
	}
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
		font-family: 'Fredoka', sans-serif;
	}
}

a:not(.no-default-link) {
	color: hsl(var(--secondary));
}

a:not(.no-default-link):hover {
	color: hsl(var(--secondary-hover));
}
